h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
}

h2{
    font-size: 20px;
}

.info{
    background-color: rgb(219, 235, 246);
    border-radius: 20px;
    border: 5px solid rgb(7, 76, 122);
}